<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raoni.ifrn.mestrado.fisicainmaos">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1585013075156794"
            android:exported="true" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacoesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResumosActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.QuizActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiasActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ConversorActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiaArquimedesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiaBernoulliActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiaBlaisePascalActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiaGalileuGalileiActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiaIsaacNewtonActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiaJohannesKeplerActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiaStevenActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BiografiaTorricelliActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacoesMecanicaActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoMecanica1Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoMecanica2Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoMecanica3Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoMecanica4Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoMecanica5Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoMecanica6Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacoesOndasOpticaActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoOndasOptica1Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoOndasOptica2Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoEletricidade1Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoEletricidade2Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoEletricidade3Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoEletricidade4Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacoesEletricidadeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacoesMagnetismoActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoMagnetismo1Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacaoFisicaModerna1Activity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SimulacoesFisicaModernaActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.QuizConfirmaRespostaActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activities.ResumoCinematicaActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResumoDinamicaActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResumoEstaticaActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResumoGravitacaoActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResumoHidrodinamicaActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResumoHidrostaticaActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResumoMHSActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.ResumoSIActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.QuizEscolheTemaAssuntoActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.QuizResultadoActivity"
            android:parentActivityName=".activities.QuizActivity"
            android:theme="@style/Theme.Transparent" />
    </application>
</manifest>