<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raoni.ifrn.mestrado.fisicainmaos">

    <uses-permission android:name="android.permission.INTERNET" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider1585013075156794"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <activity
            android:name=".activites.TelaSplash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.TelaSimulacoes"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumos"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaQuiz"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografias"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaConversor"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografiaArquimedes"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografiaBernoulli"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografiaBlaisePascal"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografiaGalileuGalilei"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografiaIsaacNewton"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografiaJohannesKepler"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografiaSteven"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaBiografiaTorricelli"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacoesMecanica"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoMecanica1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoMecanica2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoMecanica3"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoMecanica4"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoMecanica5"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoMecanica6"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacoesOndasOptica"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoOndasOptica1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoOndasOptica2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoEletricidade1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoEletricidade2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoEletricidade3"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoEletricidade4"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacoesEletricidade"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacoesMagnetismo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoMagnetismo1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacaoFisicaModerna1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaSimulacoesFisicaModerna"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaQuizConfirmaResposta"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumoCinematica"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumoDinamica"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumoEstatica"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumoGravitacao"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumoHidrodinamica"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumoHidrostatica"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumoMHS"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaResumoSI"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaQuizEscolheTemaAssunto"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activites.TelaQuizResultado"
            android:theme="@style/Theme.Transparent"
            android:parentActivityName=".activites.TelaQuiz" >
        </activity>
    </application>
</manifest>